<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./static/favicon.ico">
  <title>SVOTC DEX </title>
  <meta name="keywords" content="Loopring protocol SVOTC Wallet & DEX LRC" />
  <meta name="description" content="Loopring protocol SVOTC Wallet & DEX LRC" />
  <link rel="stylesheet" href="https://hosted-sip.civic.com/css/civic-modal.min.css">
</head>
<body>
  <div id="root"></div>
  <script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>
</body>
</html>
